{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation (CGU){% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Conditions Générales d'Utilisation (CGU)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Cras a feugiat sem. Nulla facilisi. Quisque euismod, sapien non imperdiet scelerisque, nulla purus mattis metus, sed imperdiet mi sapien in arcu.</p>
    <p>Morbi a turpis quis lorem dictum tristique. Praesent non dignissim arcu. Suspendisse potenti. In non malesuada nibh. Sed ac enim eu dui fermentum tincidunt.</p>
</div>
{% endblock %}
