{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Vente (CGV){% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Conditions Générales de Vente (CGV)</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet cursus lectus, id ultrices tortor. Duis laoreet sem vel quam egestas, at consequat lorem aliquet.</p>
    <p>Vivamus nec purus quis lectus semper efficitur. Sed nec urna vitae erat tincidunt bibendum. Etiam a facilisis risus. Ut semper, magna sed mollis convallis, mauris libero efficitur risus, a mattis nunc sem in turpis.</p>
</div>
{% endblock %}
