{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Politique de confidentialité</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel quam at nisl consequat laoreet. Nam vitae pharetra arcu, sit amet gravida velit.</p>
    <p>Proin sit amet urna ut lorem auctor ultricies. Mauris pharetra, eros ut consequat tincidunt, justo lacus consectetur elit, sed sodales est lorem at elit.</p>
</div>
{% endblock %}
