{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Mentions légales</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at justo ac nisl tincidunt porttitor. Integer vitae mi vitae nibh laoreet hendrerit. Curabitur eget ligula vitae lacus cursus efficitur.</p>
    <p>Donec euismod, nisl at mollis ultricies, nulla sapien facilisis eros, vitae tempor sapien erat quis augue. Sed bibendum, odio quis gravida lacinia, arcu mi gravida justo, non ullamcorper nisl risus quis neque.</p>
</div>
{% endblock %}
