{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Qui sommes-nous ?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Melya est une maison de joaillerie dédiée aux créations élégantes et intemporelles.</p>
    <p>Notre équipe réunit des passionnés du design, des artisans et des conseillers afin d'offrir une expérience unique à chaque client.</p>
</div>
{% endblock %}
